@page "/cart"

@using OnlineShop.Shared
@using OnlineShop.Data
@using System.Text.Json;
@using ShopLib;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BootstrapBlazor.Components.SwalService SswalService
<PageTitle>Корзина</PageTitle>

<h1>
    Корзина
</h1>

<Spin Spinning=loading Delay=500>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column gap-20">
            <Table DataSource="ShoppingCart.ProductCarts" RowClassName="@(_=>"editable-row")" Bordered PaginationPosition="None">
                <PropertyColumn Property="c=>c.ImagePath" Title="">
                    <Image Src="../src/fanera-fk.jpg" class="product-cart-image"></Image>
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Product.Naim2" Title="Товар" Width="200px">
                    <NavLink href=@context.Product.Link>@context.Product.Naim2</NavLink>
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Price" Title="Цена" Width="90px">
                    <p>@context.Price</p>
                </PropertyColumn>
                <PropertyColumn Width="30%" Property="c=>c.Count" Title="Кол-во" Style="width:90px">
                    <Input Type="number" @bind-Value="context.Count" OnBlur="stopEdit" AutoFocus Min="1" Style="width:90px" />
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Summa" Title="Сумма" Width="90px">
                    <p>@context.Summa</p>
                </PropertyColumn>
                <ActionColumn Title="">
                    <Popconfirm Title="Удалить?"
                                OnConfirm="()=> DeleteRow(context.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <a href="/cart">
                            <Icon Type="close" Theme="outline" class="icons" />
                        </a>
                    </Popconfirm>
                </ActionColumn>
            </Table>
            <div class="cart-delivery">
                <div class="row g-3 form-inline">
                    <div class="col-12 col-md-4">
                        <BootstrapBlazor.Components.Checkbox TValue="bool" @bind-Value="@ShoppingCart.HasDelivery" ShowLabel="true"
                                                             DisplayText="Доставка" OnStateChanged="@OnItemChangedString"></BootstrapBlazor.Components.Checkbox>
                    </div>
                </div>
                @if (ShoppingCart.HasDelivery)
                {
                    <BootstrapBlazor.Components.BootstrapInput PlaceHolder="..." IsTrim="true" OnValueChanged="@OnValueChanged"
                                                           TValue="string"
                                                           IsSelectAllTextOnFocus="true"
                                                           ShowLabel="true"
                                                           @bind-Value="@ShoppingCart.Delivery.DeliveryAddress"
                                                           DisplayText="Введите адрес" />
                    <BootstrapBlazor.Components.DateTimePicker TValue="DateTime" MinValue="@DateTime.Now" MaxValue="@DateTime.Now.AddDays(10)"
                                                           OnValueChanged="@OnDateValueChanged"
                                                           @bind-Value="@ShoppingCart.Delivery.DeliveryDate"
                                                           DisplayText="Дата и время доставки" ShowLabel="true" ViewMode="BootstrapBlazor.Components.DatePickerViewMode.DateTime"
                                                           Format="dd.MM.yyyy HH:mm:ss"></BootstrapBlazor.Components.DateTimePicker>
                    <div class="cart-itog-sum">
                        <h5>Стоимость</h5>
                        <h4>@ShoppingCart.Delivery.DeliveryCost рублей</h4>
                    </div>
                }
            </div>
            <div class="cart-delivery">
                <div class="row g-3 form-inline">
                    <div class="col-12 col-md-4">
                        <BootstrapBlazor.Components.Checkbox TValue="bool" @bind-Value="@ShoppingCart.HasRaspil" ShowLabel="true"
                                                             DisplayText="Распил" OnStateChanged="@OnItemChangedString"></BootstrapBlazor.Components.Checkbox>
                    </div>
                </div>
                @if (ShoppingCart.HasRaspil)
                {
                    <BootstrapBlazor.Components.BootstrapInput PlaceHolder="..." IsTrim="true" OnValueChanged="@OnValueChanged"
                                                           TValue="string"
                                                           IsSelectAllTextOnFocus="true"
                                                           ShowLabel="true"
                                                           @bind-Value="@ShoppingCart.RaspilScheme"
                                                           DisplayText="Размеры распила" />
                    <div class="cart-itog-sum">
                        <h5>Стоимость</h5>
                        <h4>уточните у менеджера</h4>
                    </div>
                }
            </div>
        </div>
        <div class="d-flex flex-column cart-itog">
            <div class="cart-itog-sum">
                <h5>Товары</h5>
                <h5>@ShoppingCart.SummaProducts</h5>
            </div>
            @if (@ShoppingCart.HasDelivery)
            {
                <div class="cart-itog-sum">
                    <h5>Доставка</h5>
                    <h5>@ShoppingCart.Delivery.DeliveryCost</h5>
                </div>
            }
            @if (@ShoppingCart.HasRaspil)
            {
                <div class="cart-itog-sum">
                    <h5>Распил</h5>
                    <h5>уточните</h5>
                </div>
            }
            <div class="cart-itog-sum">
                <h4>Итого</h4>
                <h2>@ShoppingCart.SummaCart</h2>
            </div>
            <BootstrapBlazor.Components.Button class="btn-white" OnClick="@(e => OnSwal())">Оформить</BootstrapBlazor.Components.Button>
        </div>
    </div>
</Spin>

<style>
    .editable-cell {
        position: relative;
    }

    .editable-cell-value-wrap {
        padding: 5px 12px;
        cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

    [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #434343;
    }
</style>

@code {
    int i = 0;
    int? editId;
    public ShoppingCart? ShoppingCart { get; set; } = new ShoppingCart();
    bool loading = true;
    [Inject]
    private BootstrapBlazor.Components.SwalService swalService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ShoppingCart = new ShoppingCart();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    //protected async Task OnAfterRenderAsync ()
    {
        if (firstRender)
        {
            ShoppingCart = await localStorage.GetItemAsync<ShoppingCart>("ShoppingCart");
            if (ShoppingCart == null) ShoppingCart = new ShoppingCart();
            await SetCart();
            StateHasChanged();
            loading = false;
        }
    }

    private async Task DeleteRow(int id)
    {
        ShoppingCart.ProductCarts = ShoppingCart.ProductCarts.Where(d => d.Id != id).ToList();
        await SetCart();
    }

    private async Task StartEdit(int id)
    {
        editId = id;
    }

    void stopEdit()
    {
        var editedData = ShoppingCart.ProductCarts.FirstOrDefault(x => x.Id == editId);
        editId = null;
        SetCart();
    }

    protected override void OnInitialized()
    {
    }

    private async Task SetCart()
    {
        await localStorage.SetItemAsync("ShoppingCart", ShoppingCart);
    }


    private void CheckOut()
    {
        //что то
        NavigationManager.NavigateTo("/checkout");
    }

    private async Task OnItemChangedString(BootstrapBlazor.Components.CheckboxState state, bool value)
    {
        await SetCart();
    }

    private async Task OnValueChanged(object value)
    {
        await SetCart();
    }

    private async Task OnDateValueChanged(DateTime value)
    {
        await SetCart();
    }

    private async Task OnSwal()
    {
        var op = new BootstrapBlazor.Components.SwalOption()
            {
                Category = BootstrapBlazor.Components.SwalCategory.Success,
                Title = "Заказ оформлен",
                Content = "Дождитесь подтвержения менеджера",
                ShowClose = true,
                CloseButtonText="Закрыть"
            };

        await swalService?.Show(op);
    }
}
