@page "/cart"

@using OnlineShop.Shared
@using OnlineShop.Data
@using System.Text.Json;
@using ShopLib;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BootstrapBlazor.Components.SwalService SswalService
@inject BootstrapBlazor.Components.ToastService ToastService
<PageTitle>Корзина</PageTitle>

<h1>
    Корзина
</h1>

<Spin Spinning=loading Delay=500>
    <div class="adaptive-container">
        @if (ShoppingCart.ProductCarts.Count == 0)
        {
            <div class="" style="display: block;">
                <div style="height: 300px; display: block; margin-right: auto;text-align: center;vertical-align: middle;line-height: 300px;display: block;">
                    <a href="/catalog"><h3>Спешите за товарами</h3></a>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex flex-column gap-20">
                <div class="cart-delivery">
                    @foreach (var prodCart in ShoppingCart.ProductCarts)
                    {
                        <div class="d-flex flex-row gap-20">
                            <div><Image Src="../src/fanera-fk.jpg" class="product-cart-image"></Image></div>
                            <div class="gap-20 adaptive-container">
                                <div class="cart-product-name">
                                    <NavLink href=@prodCart.Product.Link><p>@prodCart.Product.Naim2</p></NavLink>
                                </div>
                                <div class="d-flex flex-row gap-20">
                                    <div>
                                        <div class="cart-product-price">@prodCart.Summa руб</div>
                                        <p style="font-size:medium">@prodCart.Price руб/лист</p>
                                        <div><Input Type="number" @bind-Value="@prodCart.Count" OnBlur="stopEdit" TValue="int" Min="1" Style="width:70px" /></div>
                                    </div>
                                    <Popconfirm Title="Удалить?"
                                        OnConfirm="()=> DeleteRow(prodCart.ProductId)"
                                        OkText="Yes"
                                        CancelText="No">
                                        <a href="/cart">
                                            <Icon Type="close" Theme="outline" class="icons" />
                                        </a>
                                    </Popconfirm>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (false)
                {
                    <div class="cart-delivery">
                        <div class="row g-3 form-inline">
                            <div class="col-12 col-md-4">
                                <BootstrapBlazor.Components.Switch OnColor="BootstrapBlazor.Components.Color.Success" OffColor="BootstrapBlazor.Components.Color.Secondary"
                                                           OnText="Распил" OffText="Распил" @bind-Value=@ShoppingCart.HasRaspil OnValueChanged=@OnValueChangedRaspil></BootstrapBlazor.Components.Switch>
                            </div>
                        </div>
                        @if (ShoppingCart.HasRaspil)
                        {
                            <BootstrapBlazor.Components.BootstrapInput PlaceHolder="..." IsTrim="true" OnValueChanged="@OnValueChangedRaspilText"
                                                           TValue="string"
                                                           IsSelectAllTextOnFocus="true"
                                                           ShowLabel="true"
                                                           @bind-Value=@ShoppingCart.RaspilScheme
                                                           DisplayText="Размеры распила" />
                            <div class="cart-itog-sum">
                                <h5>Стоимость</h5>
                                <h4>уточните у менеджера</h4>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="d-flex flex-column cart-itog">
                <div class="d-flex flex-column cart-delivery">
                    <div>
                        <h4>Способ оплаты</h4>
                        <BootstrapBlazor.Components.RadioList TValue="int" OnSelectedChanged=@OnSelectedChangedTypeOplaty @bind-Value=@ShoppingCart.PaymentType
                                                          Items="@PayersTypes" IsVertical="true"></BootstrapBlazor.Components.RadioList>
                    </div>
                    <div>
                        <h4>Доставка</h4>
                        <BootstrapBlazor.Components.RadioList TValue="int" @bind-Value=@ShoppingCart.DeliveryType OnSelectedChanged=@OnSelectedChangedDelivery
                                                          Items="@DelivTypes" IsVertical="true"></BootstrapBlazor.Components.RadioList>
                        @if (ShoppingCart.HasDelivery)
                        {
                            <BootstrapBlazor.Components.BootstrapInput PlaceHolder="..." IsTrim="true" OnValueChanged="@OnValueChangedDelAddress"
                                                               TValue="string"
                                                               IsSelectAllTextOnFocus="true"
                                                               ShowLabel="true"
                                                               @bind-Value=@ShoppingCart.Delivery.DeliveryAddress
                                                               DisplayText="Введите адрес" />
                            <BootstrapBlazor.Components.DateTimePicker TValue="DateTime" MinValue="@DateTime.Now" MaxValue="@DateTime.Now.AddDays(10)"
                                                               OnValueChanged="@OnDateValueChanged"
                                                               @bind-Value=@ShoppingCart.Delivery.DeliveryDate
                                                               DisplayText="Дата доставки" ShowLabel="true" ViewMode="BootstrapBlazor.Components.DatePickerViewMode.DateTime"
                                                               Format="dd.MM.yyyy"></BootstrapBlazor.Components.DateTimePicker>
                            <div class="cart-itog-sum">
                                <h5>Стоимость</h5>
                                <h4>@ShoppingCart.Delivery.DeliveryCost рублей</h4>
                            </div>
                        }
                    </div>
                    <div class="d-flex flex-column">
                        <div class="cart-itog-sum">
                            <h5>Товары</h5>
                            <h5>@ShoppingCart.SummaProducts</h5>
                        </div>
                        @if (@ShoppingCart.HasDelivery)
                        {
                            <div class="cart-itog-sum">
                                <h5>Доставка</h5>
                                <h5>@ShoppingCart.Delivery.DeliveryCost</h5>
                            </div>
                        }
                        @if (@ShoppingCart.HasRaspil)
                        {
                            <div class="cart-itog-sum">
                                <h5>Распил</h5>
                                <h5>уточните</h5>
                            </div>
                        }
                        <div class="cart-itog-sum">
                            <h4>Итого</h4>
                            <h2>@ShoppingCart.SummaCart</h2>
                        </div>
                    </div>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <BootstrapBlazor.Components.Button OnClick="@CheckOut"><h3 style="color: #fff;">Оформить</h3></BootstrapBlazor.Components.Button>
                    </Authorized>
                    <NotAuthorized>
                        <BootstrapBlazor.Components.Button OnClick="@AuthClick"><h3 style="color: #fff;">Войти в аккаунт</h3></BootstrapBlazor.Components.Button>
                    </NotAuthorized>
                </AuthorizeView>

            </div>
        }
    </div>
</Spin>
<BootstrapBlazor.Components.Modal @ref="SmailModal">
    <BootstrapBlazor.Components.ModalDialog IsCentered="true" Size="BootstrapBlazor.Components.Size.Medium" Title="Кол-во товаров изменилось">
        <BodyTemplate>
            @if (changedCount.Where(p => p.Key.Count > 0).Count() != 0)
            {
                <div>У данных товаров изменилось кол-во в наличии</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Было</th>
                            <th>В наличии</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var par in changedCount.Where(p => p.Key.Count > 0))
                        {
                            <tr>
                                <th scope="row">@par.Key.Product.Naim2</th>
                                <td>@par.Value</td>
                                <td>@par.Key.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (changedCount.Where(p => p.Key.Count == 0).Count() != 0)
            {
                <div>Данные товары разобрали</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var par in changedCount.Where(p => p.Key.Count == 0))
                        {
                            <tr>
                                <th scope="row">@par.Key.Product.Naim2</th>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </BodyTemplate>
    </BootstrapBlazor.Components.ModalDialog>
</BootstrapBlazor.Components.Modal>
<style>
    .editable-cell {
        position: relative;
    }

    .editable-cell-value-wrap {
        padding: 5px 12px;
        cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

    [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #434343;
    }
</style>

@code {
    [CascadingParameter(Name = "Token")]
    public string Token { get; set; }

    [CascadingParameter(Name = "IsAuthorized")]
    public bool IsAuthorized { get; set; }

    int i = 0;
    int? editId;
    public ShoppingCart? ShoppingCart { get; set; } = new ShoppingCart();
    private Dictionary<ProductCart, int> changedCount = new Dictionary<ProductCart, int>();
    private List<BootstrapBlazor.Components.SelectedItem> PayersTypes =
        new List<BootstrapBlazor.Components.SelectedItem> {
            new BootstrapBlazor.Components.SelectedItem{ Value =  "1", Text =  "Наличными" },
            new BootstrapBlazor.Components.SelectedItem{ Value =  "2", Text =  "Картой онлайн" }};
    private List<BootstrapBlazor.Components.SelectedItem> DelivTypes =
        new List<BootstrapBlazor.Components.SelectedItem> {
            new BootstrapBlazor.Components.SelectedItem{ Value =  "1", Text =  "Самовывоз со склада" },
            new BootstrapBlazor.Components.SelectedItem{ Value =  "2", Text =  "Доставка" }};

    private bool loading { get; set; } = true;

    [Inject]
    private BootstrapBlazor.Components.SwalService swalService { get; set; }
    [Inject]
    private BootstrapBlazor.Components.ToastService? ToastServic { get; set; }

    private BootstrapBlazor.Components.Modal? SmailModal { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetCart();
            await SetCart();
            StateHasChanged();
            await CheckStock();
        }
    }

    private async Task DeleteRow(int id)
    {
        if (IsAuthorized)
        {
            string res = await ShopingCartService.DeleteProduct(id, Token);
            if (res != "") OnInfoClick(res);
        }
        else
        {
            ShoppingCart.ProductCarts = ShoppingCart.ProductCarts.Where(d => d.ProductId != id).ToList();
            await SetCart();
        }
        await GetCart();
    }

    private async Task StartEdit(int id)
    {
        editId = id;
    }

    void stopEdit()
    {
        var editedData = ShoppingCart.ProductCarts.FirstOrDefault(x => x.ProductId == editId);
        editId = null;
        SetCart();
    }

    private async Task SetCart()
    {
        if (IsAuthorized)
        {
            string res = await ShopingCartService.SetCart(ShoppingCart, Token);
            if (res != "") OnInfoClick(res);
        }
        else await localStorage.SetItemAsync("ShoppingCart", ShoppingCart);
        //await GetCart();
        StateHasChanged();
    }

    private async Task GetCart()
    {
        if (IsAuthorized)
        {
            ShoppingCart = await ShopingCartService.GetCart();
        }
        else
        {
            ShoppingCart = await localStorage.GetItemAsync<ShoppingCart>("ShoppingCart");
        }

        if (ShoppingCart == null) ShoppingCart = new ShoppingCart();
    }

    private async Task CheckOut()
    {
        await CheckStock();
        if (changedCount.Count == 0)
        {
            string res = await ShopingCartService.Checkout(Token);
            if (res == "")
            {
                await Message("Заказ оформлен", BootstrapBlazor.Components.SwalCategory.Success, "Дождитесь подтвержения менеджера");
                NavigationManager.NavigateTo("/profile");
            }
            else OnInfoClick(res);
        }
        //что то
        //NavigationManager.NavigateTo("/checkout");
    }

    private async Task CheckStock()
    {
        changedCount.Clear();
        loading = true;
        StateHasChanged();
        foreach (var prodCart in ShoppingCart.ProductCarts)
        {
            int stock = await ShopLib.Product.GetProductStock(prodCart.Product.ID);
            if (stock > 0)
            {
                if (stock < prodCart.Count)
                {
                    changedCount.Add(prodCart, prodCart.Count);
                    prodCart.Count = stock;
                }
            }
            else
            {
                changedCount.Add(prodCart, prodCart.Count);
                prodCart.Count = stock;
            }
        }
        if (changedCount.Count > 0)
        {
            await SetCart();
            await SmailModal.Toggle();
        }
        foreach (var deletedProd in changedCount.Where(p => p.Key.Count == 0))
        {
            ShoppingCart.ProductCarts.Remove(ShoppingCart.ProductCarts.Where(p => p.Product.ID == deletedProd.Key.Product.ID).FirstOrDefault());
        }
        loading = false;
        StateHasChanged();
    }

    private void AuthClick()
    {
        NavigationManager.NavigateTo("/auth");
    }

    private async Task<Task> OnItemChangedString(BootstrapBlazor.Components.CheckboxState state, bool value)
    {
        await SetCart();
        return Task.CompletedTask;
    }

    private async Task<Task> OnValueChangedRaspilText(string value)
    {
        await SetCart();
        return Task.CompletedTask;
    }
    private async Task OnValueChangedRaspil(bool value)
    {
        await SetCart();
    }
    private async Task<Task> OnValueChangedDelAddress(object value)
    {
        await SetCart();
        return Task.CompletedTask;
    }
    private async Task<Task> OnValueChanged(bool value)
    {
        await SetCart();
        return Task.CompletedTask;
    }

    private async Task<Task> OnDateValueChanged(DateTime value)
    {
        await SetCart();
        return Task.CompletedTask;
    }

    private async Task<Task> OnSelectedChangedTypeOplaty(IEnumerable<BootstrapBlazor.Components.SelectedItem> items, int value)
    {
        await SetCart();
        return Task.CompletedTask;
    }

    private async Task<Task> OnSelectedChangedDelivery(IEnumerable<BootstrapBlazor.Components.SelectedItem> items, int value)
    {
        if (ShoppingCart.HasDelivery && ShoppingCart.Delivery is null) ShoppingCart.Delivery = new Delivery();
        //await SetCart();
        return Task.CompletedTask;
    }

    private async Task Message(string title, BootstrapBlazor.Components.SwalCategory categ, string message)
    {
        var op = new BootstrapBlazor.Components.SwalOption()
            {
                Category = categ,
                Title = title,
                Content = message,
                ShowClose = true,
                CloseButtonText = "Закрыть"
            };

        await swalService?.Show(op);
    }

    private void OnInfoClick(string ex)
    {
        ToastService.Show(new BootstrapBlazor.Components.ToastOption()
            {
                // Notification category
                Category = BootstrapBlazor.Components.ToastCategory.Error,

                // Notification box Title value
                Title = "Ошибка",

                // Notification body content
                Content = ex
            });
    }
}
