@page "/profile"
@using System.Web;
@using Microsoft.AspNetCore.Http
@using OnlineShop.Models
@inject IHttpContextAccessor httpContextAccessor
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@using BootstrapBlazor.Components
@inject IJSRuntime JS;

<PageTitle>Профиль</PageTitle>
<div class="adaptive-container account">
    <div class="d-flex flex-column account-data">
        <h2>Личные данные</h2>
        <BootstrapInput @bind-Value="@CurrentUser.surname" PlaceHolder="Фамилия" IsTrim="true" ShowLabel="true" DisplayText="Фамилия" />
        <BootstrapInput @bind-Value="@CurrentUser.name" PlaceHolder="Имя" IsTrim="true" ShowLabel="true" DisplayText="Имя" />
        <BootstrapInput @bind-Value="@CurrentUser.papaname" PlaceHolder="Отчество" IsTrim="true" ShowLabel="true" DisplayText="Отчество" />
        <BootstrapInput @bind-Value="@CurrentUser.login" Formatter="@PhoneFormatter" PlaceHolder="Телефон" IsTrim="true" ShowLabel="true" DisplayText="Телефон" type='phone' />
        <BootstrapInput @bind-Value="@CurrentUser.email" PlaceHolder="info@masterWood.ru" IsTrim="true" ShowLabel="true" DisplayText="Email" />

        <BootstrapBlazor.Components.Button OnClick=@SaveChanges>Сохранить</BootstrapBlazor.Components.Button>
        <BootstrapBlazor.Components.Button OnClick=@Logout Color="BootstrapBlazor.Components.Color.Danger">Выйти</BootstrapBlazor.Components.Button>
    </div>
    <MyOrders></MyOrders>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    [CascadingParameter(Name = "Token")]
    public string Token { get; set; }

    [CascadingParameter(Name = "IsAuthorized")]
    public bool IsAuthorized { get; set; }

    private static string PhoneFormatter(string source) => String.Format("{0:(###) ###-####}", source);
    public User CurrentUser { get; set; } = new User();

    protected override async Task OnInitializedAsync()
    {
        if (!IsAuthorized) NavigationManager.NavigateTo("/auth");
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    var tokenClaim = user.FindFirst("Token");
                    if (tokenClaim != null)
                    {
                        User? temp_user = await ShopLib.Auth.GetUserByToken(tokenClaim.Value);
                        if (temp_user == null) NavigationManager.NavigateTo("/logout?returnUrl=/", true);
                        else CurrentUser = temp_user;
                    }
                    else NavigationManager.NavigateTo("/logout?returnUrl=/", true);
                }
            }
        }
    }

    private async Task SaveChanges()
    {

    }

    private async Task Logout()
    {
        NavigationManag.NavigateTo($"/logout?returnUrl=/", true);
    }

    private Task OnChanged(CollapseItem item)
    {
        return Task.CompletedTask;
    }
}
