@inject NavigationManager NavigationManager
@using BootstrapBlazor.Components

<div class="d-flex flex-column">
    <h2>Мои заказы</h2>
    <div class="my-orders">
        @if (Orders.Count == 0)
        {
            <div style="margin: 0 auto;">
                <h3>Заказов пока нет</h3>
                <a href="/catalog">Спешите за товарами</a>
            </div>
        }
        else
        {
            @foreach (var order in Orders)
            {
                <h3>Заказ № @order.nom_rash от @order.date_rash.ToShortDateString()</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            Статуc
                        </div>
                        <div class="col-5">
                            @order.Status
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            Дата оформления
                        </div>
                        <div class="col-5">
                            @order.date_sozdania.ToString()
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            Способ оплаты
                        </div>
                        <div class="col-5">
                            @order.Type_oplaty.naim
                        </div>
                    </div>
                </div>
                <BootstrapBlazor.Components.Collapse>
                    <CollapseItems>
                        <CollapseItem Text="Товары">
                            @foreach (var order in order.Sklad_rashod_tov)
                            {
                                <div class="d-flex flex-row gap-20">
                                    <div><Image Src="../src/fanera-fk.jpg" class="product-cart-image"></Image></div>
                                    <div class="gap-20 adaptive-container">
                                        <div class="cart-product-name">
                                            <NavLink href=@order.Tovar.Link><p>@order.Tovar.Naim2</p></NavLink>
                                        </div>
                                        <div class="d-flex flex-row gap-20">
                                            <div>
                                                <div class="cart-product-price">@order.Summa руб</div>
                                                <p style="font-size:medium">@order.price руб/лист</p>
                                                <p style="font-size:medium">@order.count шт</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </CollapseItem>
                    </CollapseItems>
                </BootstrapBlazor.Components.Collapse>
            }
        }
    </div>
</div>
@code {
    [CascadingParameter(Name = "Token")]
    public string Token { get; set; }

    [CascadingParameter(Name = "IsAuthorized")]
    public bool IsAuthorized { get; set; }

    private List<Sklad_rashod> Orders { get; set; } = new List<Sklad_rashod>();

    protected override async Task OnInitializedAsync()
    {
        if (!IsAuthorized) NavigationManager.NavigateTo("/auth");
        if (IsAuthorized)
        {
            var orders_resp = await HttpService.SendListAsync<Sklad_rashod>("Sklad_rashod/myorders", HttpMethod.Get, null, Token);
            if (orders_resp.Responce != null) Orders = orders_resp.Responce;
        }
    }
}
