@using Models
@switch (CurrentUser?.RoleId)
{
    case 1:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithVDEWStateRoleNavBar">РАБОТА С ЗАМЕСТИТЕЛЕМ ДИРКЕТОРА ВР</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnStatsCollectStateRoleNavBar">СБОР СТАТИСТИКИ</a>
                </li>
            </ul>
        </div>
        break;
    case 2:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithGroupVDEWStateRoleNavBar">РАБОТА С ГРУППОЙ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnWorkWithCuratorVDEWStateRoleNavBar">РАБОТА С КУРАТОРОМ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" @onclick="@ChangeOnStatsCollectStateRoleNavBar">СБОР СТАТИСТИКИ</a>
                </li>
            </ul>
        </div>
        break;
    case 3:
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" href="../Curator/cur1.html">РАБОТА С ГРУППОЙ</a>
                </li>
            </ul>
        </div>
        break;
    default:
        break;
}

@code {
    [Parameter]
    public User? CurrentUser { get; set; }

    [Parameter]
    public StateRoleNavBar? StateRoleNavBar { get; set; } = new();

    [Parameter]
    public EventCallback<StateRoleNavBar> StateRoleNavBarCallback { get; set; }

    public void ChangeOnWorkWithVDEWStateRoleNavBar()
    {
        StateRoleNavBar = new StateRoleNavBar() { RoleName = "WorkWithVDEW" };
        StateRoleNavBarCallback.InvokeAsync(StateRoleNavBar);
    }

    public void ChangeOnStatsCollectStateRoleNavBar()
    {
        StateRoleNavBar = new StateRoleNavBar() { RoleName = "StatsCollect" };
        StateRoleNavBarCallback.InvokeAsync(StateRoleNavBar);
    }

    public void ChangeOnWorkWithGroupVDEWStateRoleNavBar()
    {
        StateRoleNavBar = new StateRoleNavBar() { RoleName = "WorkWithGroupVDEW" };
        StateRoleNavBarCallback.InvokeAsync(StateRoleNavBar);
    }

    public void ChangeOnWorkWithCuratorVDEWStateRoleNavBar()
    {
        StateRoleNavBar = new StateRoleNavBar() { RoleName = "WorkWithCuratorVDEW" };
        StateRoleNavBarCallback.InvokeAsync(StateRoleNavBar);
    }
}
